@using Anz.LMJ.BLO.LogicObjects.Submission
@using Anz.LMJ.BLO.LogicObjects.User
@using Anz.LMJ.BLO.ContentObjects
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "EditorialBoards";
}
<style>
    .owl-item {
        text-align: justify;
    }
    .AboutUsPage .services-2 .icon{
        background:white;
    }
    .services-2 {
        text-align: justify;
    }
</style>


<div class="AboutUsPage">
    <section class="hero-wrap hero-wrap-2" style="" data-stellar-background-ratio="0.5">
        <div class="overlay" style="background-image: url('/Images/EditorialBoard/@ViewBag.editorialBoards.Img')"></div>
    </section>
    <section class="ftco-section about-section padding-top-btm">
        <div class="container">
            <div class="row no-gutters justify-content-center mb-3">
                <div class="col-md-7 heading-section text-center">
                    <h2>@ViewBag.editorialBoards.Title</h2>
                    <div class="about-border"></div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-12 wrap-about">
                    @Html.Raw(@ViewBag.editorialBoards.Txt)
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section testimony-section bg-light AnnouncementsNewsSection padding-top-btm">
        <div class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-md-7 heading-section text-center">
                    <h2>OUR EDITORIAL BOARD</h2>
                    <div class="about-border"></div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        @foreach (UserLO item in (List<UserLO>)(ViewBag.teams))
                        {
                            <div class="item">
                                <div class="testimony-wrap d-flex">
                                    <div class="align-self-stretch">
                                        <div class="header-section">
                                            <div class="icon d-flex justify-content-center align-items-center">
                                                @if (@item.Image != null)
                                                {
                                                    <img atl="@item.Desc" src="~/Images/Users/@item.Image" style="height:150px;width:150px;" />
                                                }
                                                else
                                                {<img atl="@item.Desc" src="~/Images/Users/usericon.png" style="height:150px;width:150px;" />}
                                            </div>
                                            <h5 class="text-center">@item.FirstName @item.LastName </h5>

                                            @if (@item.PositionId != 0)
                                            {
                                                string position = "";
                                                foreach (DataType itempos in (List<DataType>)(@ViewBag.position))
                                                {

                                                    if (@item.PositionId == @itempos.Id)
                                                    {
                                                        position = @itempos.Title;
                                                    }

                                                }
                                                <div class="text-center">@position</div>
                                            }
                                        </div>
                                        @*@if (@item.RoleIds.Count != 0)
                                        {
                                            string roles = "";
                                            foreach (int id in (List<int>)(@item.RoleIds))
                                            {
                                                foreach (DataType role in (List<DataType>)(ViewBag.roles))
                                                {

                                                    if (@id == (int)@role.Id)
                                                    {
                                                        roles = @role.Title + ", " + roles;
                                                    }
                                                }
                                            }
                                            <p>
                                                @roles
                                            </p>
                                        }*@

                                        <p title="@item.Desc">
                                            @(item.Desc.Length > 110 ? item.Desc.Substring(0, 110) + "..." : item.Desc)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="ftco-section padding-top-btm Members">
        <div class="container">

            <div class="row no-gutters justify-content-center mb-3">
                <div class="col-md-7 heading-section text-center">
                    <h2>Members</h2>
                    <div class="about-border"></div>
                </div>
            </div>
            <div class="row">
                @if (@ViewBag.member != null)
                {
                    foreach (UserLO item in (List<UserLO>)(ViewBag.member))
                    {
                        <div class="services-2 col-md-4 d-flex w-100">
                            <div class="icon d-flex justify-content-center align-items-center">
                                @{ var Img = "usericon.png";}
                                   
                                @if (@item.Image != null)
                                {
                                     Img = @item.Image;
                                }
                                <img atl="@item.Desc" src="~/Images/Users/@Img" style="height:150px;width:150px;" />
                            </div>
                            <div class="media-body pl-3">
                                <h3 class="heading">@item.FirstName @item.LastName</h3>
                                <p title="@item.Desc">@(item.Desc.Length > 70 ? item.Desc.Substring(0, 70) + "..." : item.Desc)</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>


</div>
<script src="~/Content/lib/jquery/jquery.min.js"></script >
<script src= "https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.pkgd.min.js" ></script>

<script>
                $('.flickity').flickity({
                                            cellAlign: 'left',
                                            contain: true,
                                            imagesLoaded: true,
                                            lazyLoad: true,
                                        });
                                        $(".main-nav ul li").removeClass("active");
                                        $("#AboutUs").addClass("active");

</script>
