@using Anz.LMJ.BLO.ContentObjects;
@{
    ViewBag.Title = "Add New";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main" role="main">
    <div id="ribbon" style="display: block;">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
    <div id="content">
        <!-- row -->
        <div class="row">

            @using (Html.BeginForm("AddTeam", "Admin", FormMethod.Post, new { @class = "AddTeam", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <label class="col-sm-12 control-label">
                            <strong>Title</strong>
                        </label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-4">
                        <input class="form-control input__beautify" type="text" name="Name" />
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2">
                        <div class="form-group">
                            <strong>IsMember</strong><input type="checkbox" id="IsTeamchk" />
                        </div>
                        <input type="hidden" name="IsTeam" id="IsTeamcheck" value="False" />
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2">
                        <div class="form-group">
                            <strong>IsTeam</strong><input type="checkbox" id="IsMemberchk" />
                        </div>
                        <input type="hidden" name="IsMember" id="IsMembercheck" value="False" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Role</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <select class="form-control " name="RoleId" id="RoleId">
                                @foreach (DataType item in (List<DataType>)(ViewBag.roles))
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Postion</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <select class="form-control " name="PositionId" id="PostionId">
                                @foreach (DataType item in (List<DataType>)(ViewBag.position))
                                {

                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Phone1</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <input class="form-control input__beautify" type="text" name="Phone1" />
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Phone2</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <input class="form-control input__beautify" type="text" name="Phone2" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Mobile1</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <input class="form-control input__beautify" type="text" name="MPhone1" />
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Mobile2</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <input class="form-control input__beautify" type="text" name="MPhone2" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Email1</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <input class="form-control input__beautify" type="text" name="Eamil1" />
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Eamil2</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <input class="form-control input__beautify" type="text" name="Eamil2" />
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>POB</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <input class="form-control input__beautify" type="text" name="Pob" />
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>ORCID</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-4">
                        <div class="form-group">
                            <input class="form-control input__beautify" type="text" name="Orcid" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Image</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-4">
                        <input type="file" name="PostedFileImage" id="imgInp" class="custom-file-input" style="width:50%;">
                        <input type="hidden" name="Image" id="BackGroundImage" id="imgInp" value="" />
                        <img src="" alt="img" width="50%" id="blah" accept="image/png,image/gif,image/jpeg">
                        <br />
                        <span>Recommended Size: 195*195</span>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>MainDesc</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-4">
                        <div class="form-group">
                            <textarea rows="10" cols="50" class="form-control input__beautify" type="text" name="MainDesc"></textarea>

                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-8">
                    <button type="submit" class="btn btn-sm btn-primary"> Publish </button>
                    <input type="hidden" name="Id" value="" />
                </div>


            }

        </div>

    </div>

</div>

<script>

  
   

    $("document").ready(function () {
        $('#IsMemberchk').change(function () {
            if ($("#IsMemberchk").is(":checked")) {
                $("#IsMembercheck").attr("value", "True");
            }
            else {
                $("#IsMembercheck").attr("value", "False");
            }

        });
        $('#IsTeamchk').change(function () {
            if ($("#IsTeamchk").is(":checked")) {
                $("#IsTeamcheck").attr("value", "True");
            }
            else {
                $("#IsTeamcheck").attr("value", "False");
            }

        });

    });
 
</script>