
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #content {
        text-align: right;
    }
   
</style>
<div id="main" role="main">
    <div id="ribbon" style="display: block;">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
    <div id="content">
        <!-- row -->
        <div class="row">
            @using (Html.BeginForm("EditDataType", "Admin", FormMethod.Post, new { @class = "EditDataType", enctype = "multipart/form-data" }))
            {

                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <label class="col-sm-12 control-label">
                            <strong>Title</strong>
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <input class="form-control input__beautify" type="text" name="Title" value="@ViewBag.DataType.Title" />
                    </div>
                   
                </div>
                <br />
                <div class="row">
                    
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">
                                <strong>Desc</strong>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <textarea rows="10" cols="50" class="form-control input__beautify" type="text" name="Desc">@ViewBag.DataType.Desc</textarea>

                        </div>
                    </div>
                </div>
                <input type="hidden" name="FormName" value="@ViewBag.Title" />
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-sm btn-primary"> Publish </button>
                    <input type="hidden" name="Id" value="@ViewBag.DataType.Id" />
                </div>
            }

        </div>

    </div>

</div>
