@using Anz.LMJ.BLO.ContentObjects;
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main" role="main">
    <div id="ribbon" style="display: block;">
        <ol class="breadcrumb">
            <li>Home</li>
            <li> Team</li>
        </ol>
    </div>
    <div id="content">

        <div class="jarviswidget jarviswidget-color-darken" id="IngredientsTable" data-widget-editbutton="false">


            <div>
                <div class="jarviswidget-editbox">
                </div>
                <div class="widget-body no-padding">
                    <a class="btn btn-primary addbtn" href="/admin/AddTeamForm"><i class="fa fa-plus"></i> Add Team</a>

                    <table id="dt" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Position</th>
                                <th>Image</th>
                                <th>MainDesc</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Team != null)
                            {
                                var i = 0;
                                foreach (var item in (List<Team>)ViewBag.Team)
                                {

                                    i = i + 1;

                                    <tr id="@item.Pos">
                                        <td>@item.Pos</td>
                                        <td>@item.Name</td>
                                        @foreach (DataType role in (List<DataType>)(ViewBag.roles))
                                        {
                                            if (int.Parse(@item.RoleId) == @role.Id)
                                            {
                                                <td>@role.Title</td>
                                            }
                                        }
                                        @foreach (DataType position in (List<DataType>)(ViewBag.position))
                                        {
                                            if (int.Parse(@item.PositionId) == @position.Id)
                                            {
                                                <td>@position.Title</td>
                                            }
                                        }
                                        <td>
                                            <div class="smart-timeline-content">
                                                <ul class="list-inline">
                                                    <li>
                                                        <input type="hidden" name="MainImg" id="BackGroundImage" value="=@item.Image" />
                                                        <img src="~/Images/Team/@item.Image" alt="img" width="150" id="blah">
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>@item.MainDesc</td>
                                        <td>
                                            <a name="delete" class="btn btn-sm btn-danger fa fa-trash-o delete-members" data-row-id="@item.Id" href="/Admin/DeleteTeam/@item.Id"> Delete</a>
                                            <a href="/Admin/GetTeam/@item.Id" class="fa fa-pencil btn btn-sm btn-primary"> Edit</a>
                                        </td>

                                    </tr>

                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>
    <input type="hidden" value="17" name="tableid" id="tableid" />

</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-left: 2%;">
                    Delete The Selected News
                    <input type="hidden" name="id" value="" id="id" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary confim-delete-team">Yes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/cms/Admin/jquery-3.3.1.js"></script>





<script src="~/Scripts/cms/CmsJquery.js"></script>
<script>
    $(".members").addClass("active");
    $(".Sentence").html($("input[name=Sentence]").val());
    $(".SubTitle").html($("input[name=SubTitle]").val());
    $(".Title").html($("input[name=Title]").val());
    $(".delete-members").on("click", function (event) {
        event.preventDefault();
        var id = $(this).attr("data-row-id");
        $("#myModal").find("#id").val(id);
        $('#myModal').modal('show');
    });

    $(".confim-delete-team").on("click", function (event) {
        event.preventDefault();
        var id = $("#myModal").find("#id").val();
        console.log(id);
        location.href = "/Admin/DeleteTeam/" + id;
        $('#myModal').modal('hide');
    });
</script>