@using Anz.LMJ.BLO.LogicObjects.Submission;
<div class="tab-pane active" id="tab1">
    <br />
    <br />
    <br />
    <div class="data-container">
        <input type="hidden" id="submissionid" />
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">
                        <strong>Section</strong>
                    </label>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-5">
                <div class="form-group">
                    <select name="ArticleTypeId" style="width:100%" class="form-control">
                        <option value="" selected="selected">Select Section </option>
                        @foreach (SelectValues item in (List<SelectValues>)ViewBag.GetSelect.ArticleType)
                        {
                            <option value="@item.Id">@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">
                        <strong>Subject</strong>
                    </label>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-5">
                <div class="form-group">
                    <select name="SubjectId" style="width:100%" class="select2">
                        <option value="">Please select</option>
                        @foreach (SelectValues item in (List<SelectValues>)ViewBag.GetSelect.Subjects)
                        {
                            <optgroup label="@item.Value" value="@item.Id">
                                @foreach (SubSelectValues SubSelectValues in (List<SubSelectValues>)item.SubSelectValues)
                                {
                                    <option value="@SubSelectValues.Id">@SubSelectValues.Value</option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">
                        <strong>Researches</strong>
                    </label>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-5">
                <div class="form-group">
                    <select name="ResearchId" style="width:100%" class="select2">
                        <option value="">Please select</option>
                        @foreach (SelectValues item in (List<SelectValues>)ViewBag.GetSelect.Researches)
                        {
                            if (@item.SubSelectValues.Count() != 0)
                            {
                                <optgroup label="@item.Value" value="@item.Id">
                                    @foreach (SubSelectValues SubSelectValues in (List<SubSelectValues>)item.SubSelectValues)
                                    {
                                        if (@SubSelectValues.SubSubSelectValues.Count() != 0)
                                        {
                                            <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;@SubSelectValues.Value">
                                                @foreach (SubSubSelectValues SubSubSelectValues in (List<SubSubSelectValues>)SubSelectValues.SubSubSelectValues)
                                                {
                                                    <option value="@SubSubSelectValues.Id">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@SubSubSelectValues.Value</option>
                                                }
                                            </optgroup>
                                        }
                                        else
                                        {
                                            <option value="@SubSelectValues.Id"> &nbsp;&nbsp;&nbsp;&nbsp;@SubSelectValues.Value </option>
                                        }
                                    }
                                </optgroup>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Value</option>
                            }

                        }
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                <div class="form-group">
                    <label class="col-sm-12 control-label">
                        <strong>Questions</strong>
                    </label>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-5">
                <div class="form-group">
                    <select name="QuestionId" style="width:100%" class="select2">
                        <option value="">Please select</option>
                        @foreach (SelectValues item in (List<SelectValues>)ViewBag.GetSelect.Questions)
                        {
                            <option value="@item.Id">@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>


    </div>
</div>