@using Anz.LMJ.BLO.LogicObjects.Submission
@model NewsletterLO
@{
    ViewBag.Title = "GetNewsletter";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <style>
        #newsletter-form {
            width: 80%;
        }
        #content {
            text-align: right;
        }
    </style>

    <meta name="viewport" content="width=device-width" />
    <title>Newsletter</title>
</head>
<body>

    <div id="main" role="main">
        <div id="content">
            <div class="row">
                @using (Html.BeginForm("EditNewsletter", "submission", FormMethod.Post, new { @class = "AddSubmission", enctype = "multipart/form-data" }))
                {<div class="row">
                        <div class="col-xs-3 col-sm-2 col-lg-1">
                            <label class="col-sm-12 control-label">
                                <strong>Name</strong>
                            </label>
                        </div>
                        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <input class="form-control input-md" placeholder="Name" name="Name" type="text" value="@Model.Name">
                                <input class="form-control input-md" name="Id" type="hidden" value="@Model.Id">
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-2  col-lg-2">
                            <label class="col-sm-12 control-label">
                                <strong>Date</strong>
                            </label>
                        </div>
                        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <input type="date" class="form-control" name="PublishDate" value="@Model.Name" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-sm-2  col-lg-1">
                            <label class="col-sm-12 control-label">
                                <strong>ISSN</strong>
                            </label>
                        </div>
                        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <input class="form-control input-md" placeholder="ISSN" name="Issn" type="text" value="@Model.Issn">
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-2  col-lg-2">
                            <label class="col-sm-12 control-label">
                                <strong>EISSN</strong>
                            </label>
                        </div>
                        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <input class="form-control input-md" placeholder="EISSN" name="Eissn" type="text" value="@Model.Eissn">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-2  col-lg-1">
                            <label class="col-sm-12 control-label">
                                <strong>Volume</strong>
                            </label>
                        </div>
                        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
                            <input class="form-control input-md" placeholder="Volume" name="Volume" type="text" value="@Model.Volume">
                        </div>
                        <div class="col-xs-3 col-sm-2  col-lg-2">
                            <label class="col-sm-12 control-label">
                                <strong>Image</strong>
                            </label>
                        </div>
                        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <input type="file" name="PostedFileImage" id="imgInp" class="custom-file-input" style="width:50%;">
                                <input type="hidden" name="Image" id="BackGroundImage" value="@Model.Image" />
                                <img src="~/Images/NewsletterImages/@Model.Image" alt="img" width="50%" id="blah" accept="image/png,image/gif,image/jpeg">
                                <br />
                                <span>Recommended Size: 195*195</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-11">
                        <button type="submit" class="btn btn-sm btn-primary pull-right"> Publish </button>
                    </div>

                }
            </div>
        </div>
    </div>

</body>
</html>