@using Anz.LMJ.BLO.LogicObjects.Submission
@model List<NewsletterLO>


@{
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .jarviswidget-editbox {
            display: block;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div id="main" role="main">


        <div id="ribbon">

            <span class="ribbon-button-alignment">
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                    <i class="fa fa-refresh"></i>
                </span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Home</li>
                <li>Newsletter</li>
            </ol>

        </div>
        <div id="content">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Newsletter <span></span></h1>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

                </div>
            </div>
            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- row -->
                <div class="row" style="margin: 0 !important;">
                    <div class="jarviswidget-editbox jarviswidget-color-darken" data-widget-colorbutton="false"
                         data-widget-editbutton="false"
                         data-widget-togglebutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-custombutton="false"
                         data-widget-collapsed="false"
                         data-widget-sortable="false">
                        <header>
                            <div class="jarviswidget-ctrls">
                                <a class="getCopyEditors" data-target="#ModelAddNewsletter" class="createnews" data-toggle="modal" >Create New</a>
                            </div>
                            <h2>Newlettes</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th> Name </th>
                                            @*<th>Number</th>*@
                                            <th>ISSN</th>
                                            <th> EISSN</th>
                                            <th> Volume</th>
                                            <th>Cover Image</th>
                                            <th>PublishDate</th>

                                        </tr>
                                    </thead>

                                    <tbody>

                                        @{ int counter = 1;}
                                        <!-- content goes here -->
                                        @if (Model != null)
                                        {
                                            foreach (NewsletterLO item in Model)
                                            {
                                        <tr>
                                            <td>@counter<input type="hidden" id="id" value="@item.Id" /></td>
                                            <td class="newsname">@item.Name</td>
                                            @*<td class="newsnb">@item.Number</td>*@
                                            <td class="newsissn">@item.Issn</td>
                                            <td class="newseissn">@item.Eissn</td>
                                            <td class="newsvol">@item.Volume</td>
                                            <td class="newsimg">
                                                <div class="smart-timeline-content">
                                                    <ul class="list-inline">
                                                        <li>
                                                            <input type="hidden" name="newsimg" id="newsimg" value="@item.Image" />
                                                            <img src="~/Images/NewsletterImages/@item.Image" alt="img" width="150" id="blah">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="newsdate">@item.PublishDate.ToString("M/d/yyyy")</td>

                                            <td>
                                                <a data-target="#ModelAddNewsletter" data-toggle="modal" class="fa fa-pencil btn btn-sm btn-primary EditNews"> Edit</a>
                                            </td>


                                            @{ counter++;}
                                        </tr>
                                            }
                                        }
                                        <!-- end content -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>

</body>
</html>


<div class="modal fade" id="ModelAddNewsletter" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UploadSubmissionFiles">New Newsletter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control input-md" placeholder="Name" name="Name" type="text">
                    <input class="form-control input-md" name="Id" type="hidden">
                </div>
                @*<div class="form-group">
                    <input class="form-control input-md" placeholder="Number" name="Number" type="text">
                </div>*@
                <div class="form-group">
                    <input class="form-control input-md" placeholder="ISSN" name="Issn" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control input-md" placeholder="EISSN" name="Eissn" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control input-md" placeholder="Volume" name="Volume" type="text">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="PublishDate" />
                </div
                <div class="form-group">
                    <img class="form-control" name="CoverImage"  />
                </div>
                <input class="form-control input-md Cover" name="CoverImage" type="file">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary  CreateNewletter">Create</button>
                <button type="button" class="btn btn-primary  EditNewletter">Edit</button>

            </div>
        </div>
    </div>
</div>
<script>

    
    $('.EditNews').click(function () {

        $(".EditNewletter").show();
        $(".CreateNewletter").hide();

        var row = $(this).closest("tr");
        var td = row.find("td");
        $("[name ='Name']").val(row.find("td:nth-child(2)").text());
        //$("[name ='Number']").val(row.find("td:nth-child(3)").text());;
        $("[name ='Issn']").val(row.find("td:nth-child(3)").text());
        $("[name ='Eissn']").val(row.find("td:nth-child(4)").text());
        alert(row.find("td:nth-child(7)").text());
        $("[name ='PublishDate']").text(row.find("td:nth-child(7)").text());
        $("[name ='Volume']").val(row.find("td:nth-child(5)").text());
        $(".CoverImage").attr("src",row.find("#newsimg").val());
        $("[name ='Id']").val(row.find("#id").val());

    });

    
    $('.createnews').click(function () {
        $(".EditNewletter").hide();
        $(".CreateNewletter").show();
        $("[name ='Name']").val();
        $("[name ='Number']").val();
        $("[name ='Issn']").val();
        $("[name ='Eissn']").val();
        $("[name ='PublishDate']").val();
        $("[name ='Volume']").val();
        $(".Cover").val('');
    });

    $('.EditNewletter').click(function () {
        var newsletter = {};
        var file = {};
            newsletter['Name'] = $("[name ='Name']").val();
            newsletter['Number'] = $("[name ='Number']").val();;
            newsletter['Issn'] = $("[name ='Issn']").val();
            newsletter['Eissn'] = $("[name ='Eissn']").val();
            newsletter['PublishDate'] = $("[name ='PublishDate']").val();
            var file = $(".Cover");
            for (var i = 0; i < file.length; i++) {
                single_file = {};
                single_file['Type'] = 1;
                single_file['Name'] = file[i].value.replace(/.*(\/|\\)/, '');
             }
             newsletter['CoverImage'] = single_file;
        var val = $(".Cover").val();
        switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
            case 'gif': case 'jpg': case 'png':

                   $.ajax({
                            type: 'POST',
                            url: '@Url.Action("EditNewletter")',
                            data: { toAdd: newsletter},
                       success: function (result) {
                           if (result === 'session-null') {
                               window.location.href = '/Admin/index';
                           }
                           else
                               if (result.HttpStatusCode != 200) {
                                    alert(result.Message);
                                }
                                else {
                            location.reload(true);
                            }
                            },
                            error: function (ex) {

                            }
        });
                break;
            default:
                $(".Cover").val('');
                alert("Please select Image");
                break;
        }


    });

    $('.CreateNewletter').click(function () {
        var newsletter = {};
        var file = {};
            newsletter['Name'] = $("[name ='Name']").val();
            newsletter['Number'] = $("[name ='Number']").val();;
            newsletter['Issn'] = $("[name ='Issn']").val();
            newsletter['Eissn'] = $("[name ='Eissn']").val();
            newsletter['PublishDate'] = $("[name ='PublishDate']").val();
            var file = $(".Cover");
            for (var i = 0; i < file.length; i++) {
                single_file = {};
                single_file['Type'] = 1;
                single_file['Name'] = file[i].value.replace(/.*(\/|\\)/, '');
             }
             newsletter['CoverImage'] = single_file;
        var val = $(".Cover").val();
        switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
            case 'gif': case 'jpg': case 'png':

                   $.ajax({
                            type: 'POST',
                            url: '@Url.Action("AddNewsletter")',
                            data: { toAdd: newsletter},
                       success: function (result) {
                           if (result === 'session-null') {
                               window.location.href = '/Admin/index';
                           }
                           else
                               if (result.HttpStatusCode != 200) {
                                    alert(result.Message);
                                }
                                else {
                            location.reload(true);
                            }
                            },
                            error: function (ex) {

                            }
        });
                break;
            default:
                $(".Cover").val('');
                alert("Please select Image");
                break;
        }


    });


</script>